<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AirBnB clone</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Wiseman Umanah">
	<meta name="description" content="A simple website with a header and footer(css)">
	<link rel="icon" href="../static/images/icon.png" type="image/png" >
	<link rel="stylesheet" href="../static/styles/4-common.css">
	<link rel="stylesheet" href="../static/styles/3-header.css">
	<link rel="stylesheet" href="../static/styles/3-footer.css">
	<link rel="stylesheet" href="../static/styles/6-filters.css">
	<link rel="stylesheet" href="../static/styles/8-places.css">
  </head>
  <BODY>
    <header>
		<img src="../static/images/logo.png" alt="The logo of Holberton (alx) school" class="airbnb-logo">
	</header>
    <main>
      <div class="container">
        <section class="filters">
				<button>Search</button>
				<div class="locations">
					<h3>States</h3>
					<h4>&nbsp;</h4>
					<ul class="popover">
						{% for s in states | sort(attribute="name") %}
							<li><h2>{{ states[s].name }}</h2></li>
							<ul>
								{% for c in states[s].cities | sort(attribute="name") %}
									<li><h4>{{ c.name }}</h4></li>
								{% endfor %}
							</ul>
						{% endfor %}
					</ul>
				</div>
				<div class="amenities">
					<h3>Amenities</h3>
					<h4>&nbsp;</h4>
					<ul class="popover">
						{% for a in amenities | sort(attribute="name") %}
								<li><h4>{{ amenities[a].name }}</h2></li>
						{% endfor %}
					</ul>
				</div>
			</section>
			<section class="places">
				<h1>Places</h1>
				{% for p in places %}
					<article>	
							<h2>{{ places[p].name }}</h2>
							<div class="price_by_night">${{ places[p].price_by_night }}</div>
							<div class="information">
								<div class="max_guest">
									<img src="../static/images/icon_group.png" alt="picture shows the different groups available">
									<p>{{ places[p].max_guest }} Guest</p>
								</div>
								<div class="number_rooms">
									<img src="../static/images/icon_bed.png" alt="picture shows the number of rooms available">
									<p>{{ places[p].number_rooms }} Bedroom</p>
								</div>
								<div class="number_bathrooms">
									<img src="../static/images/icon_bath.png" alt="picture shows the different groups available">
									<p>{{ places[p].number_bathrooms }} Bathroom</p>
								</div>
							</div>
							<div class="user">
								<b>Owner</b>: 
								{% for s in users %}
									{% if users[s].id == places[p].user_id %}
										{{ users[s].first_name + " " + users[s].last_name }}
									{% endif %}
								{% endfor %}
								<br><br>
								{{ places[p].description | safe }}
							</div>
							<div class="reviews">
								{% if reviews %}
									<h2>Reviews</h2>
									{% for r in reviews %}
										{% if reviews[r].user_id == places[p].user_id %}
											<ul>
												<li>
													<p>{{ reviews[r].text | safe}}</p>
												</li>
											</ul>
										{% endif %}
									{% endfor %}
								{% endif %}
							</div>
					</article>
				{% endfor %}
			</section>
      </div>
    </main>
    <FOOTER>
      Holberton School
    </FOOTER>
  </BODY>
</HTML>
